.od-title {
    margin: 10px;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    font-weight: 1000;
    color: rgb(8, 220, 235);
    text-transform: uppercase;
    line-height: 17px;
    cursor: pointer;
  }